$meteor: #d4740d;
$nuka-orange: #ffc266;
$boulder: #787878;
$blue-zodiac: #0c2745;
$dove-gray: #666666;
$black-pearl: #091f37;
$white: #ffffff;
$silver: #e1e0e0;
$mirage: #1c2a39;
$alabaster: #fbfbfb;
$boulder: #787878;
$blue-pearl: #35567F;
$atomic-tin: #e0e1e4;
$nuka-tin: #cdcfd2;
$antique: #eceeef;
$nuka-void: #eceeef;
$nuka-quantum: #1a8cff;
$radiation: #ECE9E6;
$stimpak: #fff;
$nuka-swirl: #8e9eab;
